body{
    background-color: #3030304f;
    background-image: url(https://wallpapercave.com/wp/wp9672819.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
}

h1{
    font-weight: bold;
}

